main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
  flex: 1;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  color: var(--stormy);
  margin-bottom: 10px;
  animation: fadeInUp 1s ease;
  text-align: center;
}

h2 {
  font-size: clamp(1.1rem, 1.25vw, 1.75rem);
  height: 52px;
}

.tag-line {
  font-size: 1.2rem;
  color: var(--evening);
  margin: 5px;
  animation: fadeInUp 1.2s ease;
  text-align: center;
}

.course-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}
.img-container {
  height: 200px;
  overflow: hidden;
}

.course-card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  width: 31%;
  min-width: 300px;
  margin: 10px 0;
  box-shadow: 0 0 12px #d9d9d9;
}
.img-container img {
  overflow: hidden;
}

.card-text {
  padding: 0 20px;
}

.card-text p {
  height: 40px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.duration {
  background: var(--cloud);
  color: #fff;
  padding: 5px 12px;
  border-radius: 10px;
}

.price {
  font-weight: 700;
  color: var(--sunset);
  font-size: 1.5em;
}

button.details {
  margin: 10px 0 20px 0;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: var(--sunset);
  cursor: pointer;
}

button.details:hover {
  background: var(--cloud);
}

button.details a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.05em;
  height: 100%;
  display: block;
  padding: 12px 20px;
  width: 100%;
}

.add-course {
  background-color: var(--sunset);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 20px;
}

.add-course:hover {
  background-color: var(--evening);
}

@media (max-width: 954px) {
  .course-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .course-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .course-card {
    width: 90%;
  }
  h2 {
    height: 45px;
  }

  .img-container img {
    overflow: hidden;
    width: 100%;
  }
}

@media (max-width: 370px) {
  .course-card {
    min-width: unset;
    width: 100%;
  }
}
