footer {
  border-top: 1px solid var(--evening);
  background: var(--cloud);
  padding: 40px 25px;
  margin-top: 40px;
}

.inner-footer {
  text-align: center;
}

.inner-footer p {
  margin: 0;
  font-weight: 700;
  color: var(--stormy);
}
